<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/Pages/HomePage/styles.css">
</head>
<body>
  <h1>Welcome to Board Game Home Page</h1>
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
</body>
</html>
