<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/Pages/SignUp/styles.css">
</head>
<body>
  <div class="container">
    <form id="signup-form">
      <h1 class="header">Sign Up</h1>
      <input type="text" id="username" placeholder="Username" required>
      <input type="password" id="password" placeholder="Password" required>
      <input type="tel" id="phone" placeholder="Phone" required>
      <select id="user-type" required>
        <option value="" disabled selected>Select User Type</option>
        <option value="creator">Creator</option>
        <option value="user">User</option>
      </select>
      <button type="submit">Sign Up</button>
    </form>
    <div id="error-message" style="display: none; color: red;"></div>
  </div>

  <script src="/Pages/SignUp/script.js"></script>
</body>
</html>
